{% extends "base.html" %}

{% block content %}
    <h1>Article List</h1>
    <ul>
        {% for article in page_obj %}
            <li>
                <h4><a href="{% url 'article_detail' article.id %}">{{ article.title }}</a></h4>
            </li>
        {% endfor %}
    </ul>

    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
{% endblock %}
